:root {
  --bg-primary: #1f1f1f;
  --bg-light-accent: #ff9800;
}

.rn-clr-border-opaque {
  border-color: #444 !important;
}

.remnote-tooltip-container,
.table-background-overlay,
.rn-clr-background-primary {
  background: var(--bg-primary) !important;
}

div[data-plugin-id="demo-tabs"] > div > div.rn-clr-background-primary,
div[data-plugin-id="demo-tabs"]
  div.smooth-dnd-container
  .rn-clr-background-primary,
#PopupContent,
div[data-search-result="search-result-panel"],
.rn-sidebar {
  background: #1a1a1a !important;
}

.workInProgressRemEmpty .linear-editor-item:after {
  color: #e0e0e0 !important;
  filter: brightness(0.6);
}

.rn-work-in-progress-rem {
  background: #2a2a2a !important;
  color: #e0e0e0 !important;
}

div[data-plugin-id="demo-tabs"] > div > div.rn-clr-background-secondary,
div[data-plugin-id="demo-tabs"]
  div.smooth-dnd-container
  .rn-clr-background-secondary,
div[data-plugin-id="demo-tabs"]
  div.smooth-dnd-container
  div.rn-clr-background-secondary,
div[data-plugin-id="demo-tabs"] > div,
.rn-pane__top-bar,
.rn-pane__body {
  background: #1f1f1f !important;
}
